button{
    -moz-box-shadow:0 12 16px powderblue; -webkit-box-shadow:12px 0 16px powderblue; box-shadow:0 0 16px powderblue;
   background: none;
   width: 180px;
   height: 48px;
   margin-right: 20px; 
   border-radius: 4px;
   border: 1.2px solid powderblue;
   font-size: 18px;
   color: blanchedalmond;
   -moz-text-shadow:0 0 13px ; -webkit-text-shadow:0 0 23px rgb(136, 25, 130); text-shadow:0 0 23px rgb(136, 25, 130);
}