.Hero{
    max-width: 1366px;
    height: 100vh;
    .container{
        padding-top: 340px;
        display: flex; 
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 1340px;
        height: 100%;
        padding: 12px 24px ;
        
        .content{
            margin: 0 auto;
            display: flex; 
            justify-content: center;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            color: blanchedalmond;
            -moz-text-shadow:0 0 33px rgb(136, 25,130) ; -webkit-text-shadow:0 0 33px rgb(136, 25, 130); text-shadow:0 0 33px rgb(136, 25, 130);
            color: blanchedalmond;
            -moz-text-shadow:0 0 33px rgb(136, 25,130) ; -webkit-text-shadow:0 0 33px rgb(136, 25, 130); text-shadow:0 0 33px rgb(136, 25, 130);
            h1{ 
                
                font-size: 42px;
            }
            span{
                font-size: 24px;
            }
            p{
                font-size: 24px;
            }

        .center{
            width: 1340px;
            margin: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
        .lower_center{
            display: flex;
            flex-direction: row;
        .left{
            padding: 12px 24px ;
            height: 300px;
            width: 700px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
           
        }

        .right{
            margin: 0 auto;
            height: 300px;
            width: 700px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }
    }
    }   
}
}